@import '../theme.scss';

.container {
  margin-bottom: 20px;
  display: flex;

  a {
    display: inline-block;
    flex: 1 0 auto;
    padding: 8px 16px 10px 2px;
    text-align: center;
    color: inherit;
  }
  a:visited {
    color: inherit;
  }
}

.item_container {
  box-shadow: 1px 1px #c66900;
}
.item_text {
  font-size: 1.25rem;
}
.item_active {
  @extend .accent_secondary;
  border-radius: 50%;
}
