@import '../theme.scss';
@import './SimpleContainer.BreakPoints.scss';

.container {
  border: 1px solid $primary-dark;
  margin: 8px;
  padding: 4px;

  // between 1100-1500
  min-height: 400px;

  // less than 1100
  @media screen and (max-width: $break-small) {
    min-height: 600;
  }

  // more than 1500
  @media screen and (min-width: $break-large) {
    min-height: 800px;
  }
}