@import '../theme.scss';
@import './SimpleContainer.BreakPoints.scss';

.container {
  // between 1100-1500
  margin: 20px 10% 10px 10%;

  // less than 1100
  @media screen and (max-width: $break-small) {
    margin: 2px
  }

  // more than 1500
  @media screen and (min-width: $break-large) {
    max-width: 1600px;
    margin: 10px auto;
  }
}

.border {
  border: 1px solid $secondary-dark;
  box-shadow: 2px 2px $secondary-light;
}